
.icon-users:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-warning:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-language:before { content: '\e804'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
